<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">Manage Dynamic Forms</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="breadcrumb-item active">
              <a href="#"
                 onClick="return false;">Manage Dynamic Forms</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <mat-tab-group>

          <!--  ****************  Grid Preview Tab  ****************   -->
          <mat-tab label="Grid Preview">
            <ng-container [ngTemplateOutlet]="SelectFormTemplate"></ng-container>
            <app-dynamic-data-grid [formId]="selectedForm"></app-dynamic-data-grid>
            <h6 class="text-muted text-center m-3" *ngIf="selectedForm === SELECTED_FORM_LABEL">
              Select Form To Display Grid
            </h6>
          </mat-tab>
          <!--  ****************  Grid Preview Tab  ****************   -->

          <!--  ****************  Config Form  Tab  ****************   -->
          <mat-tab label="Config Form">
            <app-dynamic-forms-list></app-dynamic-forms-list>
          </mat-tab>
          <!--  ****************  Config Form   ****************   -->
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>

<ng-template #SelectFormTemplate>
  <!--  **********************  Select for Selecting Different Forms  **********************  -->
  <div class="col-4 offset-4">
    <ng-container *ngIf="selectedForm$ | async as selectedForm">
      <div class="form-group">
        <label>Select Form</label>
        <select class="form-control"
                (ngModelChange)="changeFormTable($event)"
                [ngModel]="selectedForm" *ngIf="allForms$ | async as allForms">
          <option [value]="SELECTED_FORM_LABEL">Select Form To Display Grid</option>
          <option [value]="option.formID" *ngFor="let option of allForms">{{ option.formID }}</option>
        </select>
        <!--<pre *ngIf="allForms$ | async as allForms">{{allForms | json}}</pre>-->
      </div>
    </ng-container>
  </div>
  <!--  **********************  Select for Selecting Different Forms  **********************  -->
</ng-template>
