:host {
  #chat-conversation {
    position: relative;
    height: calc(100vh - 330px);
    max-height: calc(100vh - 330px);
  }

  #chat_user {
    position: relative;
    height: calc(100vh - 195px);
    max-height: calc(100vh - 195px);
  }

  .open-chat-button {
    position: fixed;
    top: calc(50% - 65px);
    right: -45px;
    padding: 7px 12px;
    /*background-color: #fdfdfd;
    border: 2px solid #eeeeee;
    border-bottom: 2px solid #00bcd4;*/
    transform: rotate(-90deg);
    font-weight: bold;
  }
}
