<h4 mat-dialog-title class="p-0 m-0">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    [disabled]="editControlIndex >= 0"
  >
    <mat-icon>menu</mat-icon>
  </button>
  {{ drawer.opened ? "Dynamic Forms List" : "Manage Dynamic Forms" }}
</h4>
<mat-dialog-content class="mat-typography bg-white">
  <mat-drawer-container
    autosize
    hasBackdrop="true"
    style="min-height: calc(90vh - 90px);"
  >
    <mat-drawer #drawer mode="over" opened style="width: 250px;">
      <!-- <app-dynamic-forms-list></app-dynamic-forms-list> -->
    </mat-drawer>
    <mat-drawer-content>
      <mat-tab-group #formTabGroup [(selectedIndex)]="selectedIndex">
        <mat-tab label="Configure Dynamic Form">
          <div cdkDropListGroup class="container-fluid">
            <div class="form-controller-container col-3">
              <h4 class="border-bottom mt-3 pb-3">Available Form Controls</h4>
              <div
                cdkDropList
                [cdkDropListData]="todo"
                class="form-controller-list"
                [cdkDropListEnterPredicate]="noReturnPredicate"
              >
                <div
                  class="form-controller-box"
                  [class.disabled]="editControlIndex >= 0"
                  *ngFor="let item of todo"
                  cdkDrag
                >
                  {{ item.label }}
                </div>
              </div>
            </div>
            <!--    **********************************************    -->
            <div class="form-controller-container col-9">
              <h4 class="border-bottom mt-3">
                Selected Form Controls
                <input
                  style="width: 250px;"
                  [(ngModel)]="defaultColumnWidth"
                  class="mb-1 float-right form-control"
                  placeholder="Default Column Class"
                />
                <div class="clearfix"></div>
              </h4>
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="form-controller-list"
                (cdkDropListEntered)="dropEntered = true"
                (cdkDropListExited)="dropEntered = false"
                (cdkDropListDropped)="drop($event); dropEntered = false"
              >
                <div
                  class="form-controller-box"
                  [class.disabled]="
                    editControlIndex >= 0 && editControlIndex != ind
                  "
                  *ngFor="let item of done; let ind = index"
                  [cdkDragDisabled]="
                    editControlIndex >= 0 && editControlIndex == ind
                  "
                  cdkDrag
                >
                  <div class="row">
                    <div class="col-12">
                      <label class="m-0 p-0">{{ item.label }}</label>

                      <!--  ***********************  Action Bar  ***********************  -->
                      <div class="action-bar">
                        <!--Delete Button-->
                        <button
                          (click)="deleteControl(ind)"
                          *ngIf="editControlIndex != ind"
                          class="border-0 btn btn-outline-danger btn-sm mr-1"
                          title="Delete Form Control"
                        >
                          <i class="fa fa-trash"></i>
                        </button>

                        <!--Edit Button-->
                        <button
                          class="border-0 btn btn-outline-warning btn-sm mr-1"
                          *ngIf="editControlIndex != ind"
                          title="Edit Form Control"
                          (click)="editControl(ind)"
                        >
                          <i class="fa fa-edit"></i>
                        </button>

                        <!--Clone Button-->
                        <button
                          (click)="cloneControl(item, ind)"
                          *ngIf="editControlIndex != ind"
                          class="border-0 btn btn-outline-info btn-sm mr-1"
                          title="Clone Form Control"
                        >
                          <i class="fa fa-clone"></i>
                        </button>

                        <!--Cancel Button-->
                        <button
                          class="border-0 btn btn-outline-danger btn-sm mr-1"
                          *ngIf="
                            editControlIndex >= 0 && editControlIndex == ind
                          "
                          title="Cancel Edit"
                          (click)="editControl(-1)"
                        >
                          <li class="fa fa-times"></li>
                        </button>

                        <!--Save Button-->
                        <button
                          class="border-0 btn btn-outline-success btn-sm mr-1"
                          title="Save Form Control"
                          *ngIf="
                            editControlIndex >= 0 && editControlIndex == ind
                          "
                          (click)="saveController()"
                        >
                          <li class="fa fa-save"></li>
                        </button>
                      </div>
                      <!--  ***********************  Action Bar  ***********************  -->

                      <div class="clearfix"></div>
                    </div>
                    <div
                      class="col-12 mt-3"
                      *ngIf="editControlIndex >= 0 && editControlIndex == ind"
                    >
                      <mat-card>
                        <!--<mat-card-header>
                          <mat-card-title>Edit <code>{{ item.type | lowercase }}</code> Form Controller</mat-card-title>
                        </mat-card-header>-->
                        <mat-card-content>
                          <app-dynamic-form
                            formClass="m-0"
                            [formControls]="editDynamicFormConfig"
                            (change)="onEditDynamicFormChangeBefore($event)"
                          ></app-dynamic-form>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <h4
                  class="text-muted text-center mt-3"
                  *ngIf="done.length === 0 && !dropEntered"
                >
                  No Form Controls selected.
                </h4>
              </div>
            </div>
            <!--    **********************************************    -->
          </div>
        </mat-tab>

        <mat-tab label="Preview Dynamic Form">
          <app-dynamic-form
            (change)="onDynamicFormChange($event)"
            #sampleForm
            [formControls]="done"
          ></app-dynamic-form>
          <pre>{{ sampleForm.value | json }}</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <label *ngIf="selectedIndex == 0" class="mt-2 text-muted text-left float-left"
    >Drag and Drop Form Controls to Create a Dynamic Form</label
  >
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Create Dynamic Form
  </button>
</mat-dialog-actions>
