<section class="content">
  <div class="container-fluid">
    <!--    ****************************** Page Header ****************************** -->
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">All Institutions</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Memberships</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <!--    ****************************** Page Header ****************************** -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong>{{ this.itemsService.gridPageTitle }}</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label
                          ><i class="material-icons search-icon"
                            >search</i
                          ></label
                        >
                        <input
                          placeholder="Search"
                          type="text"
                          (keyup)="applyFilter($event.target.value)"
                          class="browser-default search-field"
                        />
                      </li>
                    </ul>
                  </div>
                  <!--<div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary" (click)="addItem()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>-->
                </div>
              </div>

              <mat-table
                #table
                *ngIf="
                  itemsService.gridColumnConfig$ | async as gridColumnConfig
                "
                [dataSource]="dataSource"
                matSort
                [trackBy]="trackByUid"
                class="mat-cell"
              >
                <ng-container
                  *ngFor="let option of gridColumnConfig"
                  [matColumnDef]="option.fieldId"
                >
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    option.headerName
                  }}</mat-header-cell>
                  <ng-container [ngSwitch]="true">
                    <ng-container
                      *ngSwitchCase="option.type == formControlType.DATE"
                    >
                      <mat-cell *matCellDef="let item">
                        {{ item[option.fieldId] | date }}
                      </mat-cell>
                    </ng-container>

                    <ng-container
                      *ngSwitchCase="
                        option.type == formControlType.SELECT ||
                        option.type == formControlType.CHIPS ||
                        option.type == formControlType.RADIO
                      "
                    >
                      <mat-cell *matCellDef="let item">
                        <!--{{ item[option.fieldId] | date }}-->
                        <!--{{item[option.fieldId]|json}}-->
                        {{ getDisplayLabel(option, item[option.fieldId]) }}
                        <!--{{option.data|json}}-->
                      </mat-cell>
                    </ng-container>

                    <ng-container
                      *ngSwitchCase="
                        option.type != formControlType.DATE &&
                        option.type != formControlType.SELECT &&
                        option.type != formControlType.CHIPS &&
                        option.type != formControlType.RADIO
                      "
                    >
                      <mat-cell *matCellDef="let item">
                        {{ item[option.fieldId] }}
                      </mat-cell>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <!--<ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.name }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> price</mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.price }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="startDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> startDate</mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.startDate | date }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="endDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> endDate</mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.endDate | date }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> active</mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.active }} </mat-cell>
                </ng-container>-->

                <ng-container matColumnDef="Actions">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Actions</mat-header-cell
                  >
                  <mat-cell *matCellDef="let item">
                    <button
                      mat-icon-button
                      class="mr-3"
                      color="primary"
                      (click)="editItem(item)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteItem(item)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <!--<ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Delete</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <button mat-icon-button color="warn" (click)="deleteItem(item)"><mat-icon>delete</mat-icon></button>
                  </mat-cell>
                </ng-container>-->
                <ng-container
                  *ngIf="
                    itemsService.displayedColumns$ | async as displayedColumns
                  "
                >
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="animate"
                  ></mat-row>
                </ng-container>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="global-add-button"
      mat-fab
      color="primary"
      (click)="addItem()"
    >
      <mat-icon class="col-white">add</mat-icon>
    </button>
  </div>
</section>
