<section class="content">
  <div class="container-fluid">
    <div class="row">
      <mat-tab-group class="w-100"
                     style="height: calc(100vh - 100px);">
        <mat-tab label="WhiteBoard" class="h-100">
          <div class="w-100 p-3 border example-boundary-1 position-relative"
               style="height: calc(100vh - 150px);">
            <div class="w-100 h-100 shadow-sm">
              <app-online-class-white-board></app-online-class-white-board>
            </div>
            <app-online-class-video-call boundary=".example-boundary-1"></app-online-class-video-call>
          </div>
        </mat-tab>
        <mat-tab label="Document">
          <div class="w-100 p-3 border position-relative" style="height: calc(100vh - 150px);">
            <div class="w-100 h-100 shadow-sm position-relative example-boundary-2 p-3">

            <app-online-class-video-call boundary=".example-boundary-2">

            </app-online-class-video-call>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Screen Sharing"> Content 3</mat-tab>
      </mat-tab-group>
      <app-online-class-chat></app-online-class-chat>
    </div>
  </div>
  <div class="container-fluid"
       *ngIf="false">
    <!--  ***********************************************************   -->
    <h1>
      <a href="//webrtc.github.io/samples/"
         title="WebRTC samples homepage"
      >WebRTC samples</a
      >
      <span>getUserMedia</span>
    </h1>

    <video id="gum-local"
           autoplay
           playsinline
           #myVideo></video>
    <video id="recorded"
           playsinline
           loop
           #recordedVideo></video>

    <button
      class="btn btn-primary"
      [disabled]="disableShowVideoButton"
      (click)="showCamera($event)"
    >
      Start camera
    </button>
    <button
      class="btn btn-success"
      [disabled]="disableRecordButton"
      (click)="recordingButtonClick($event)"
    >
      {{ isRecording ? "Stop" : "Start" }} Recording
    </button>
    <button
      class="btn btn-info"
      [disabled]="disablePlayButton"
      (click)="playVideo($event)"
    >
      Play
    </button>
    <button
      class="btn btn-warning"
      id="download"
      (click)="downLoadVideo($event)"
      [disabled]="disableDownloadButton"
    >
      Download
    </button>

    <div id="errorMsg"
         [innerHTML]="errorMessages"></div>

    <p class="warning">
      <strong>Warning:</strong>
      if you're not using headphones, pressing play will cause feedback.
    </p>

    <p>
      Display the video stream from <code>getUserMedia()</code> in a video
      element.
    </p>

    <p>
      The
      <code>MediaStream</code>
      object
      <code>stream</code>
      passed to the
      <code>getUserMedia()</code>
      callback is in global scope, so you can inspect it from the console.
    </p>

    <a
      href="https://github.com/webrtc/samples/tree/gh-pages/src/content/getusermedia/gum"
      title="View source for this page on GitHub"
      id="viewSource"
    >View source on GitHub</a
    >
    <!--  ***********************************************************   -->
  </div>
</section>
