<!--
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control w-100 bg-white"
            #myUserName
            [ngModel]="myPeerId"
            readonly
            placeholder="Your Username"
          />
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              (click)="setUpChart(myUserName.value)"
            >
              Start Online Class
            </button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control w-100"
            #otherUserName
            placeholder="Caller Username"
          />
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              (click)="startCamera(otherUserName.value)"
            >
              Start Camera
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="embed-responsive embed-responsive-16by9">
      <video #myCamera autoplay playsinline></video>
    </div>
  </div>
  <div class="col-3">
    <div class="embed-responsive embed-responsive-16by9">
      <video #otherCamera autoplay playsinline></video>
    </div>
  </div>
</div>
-->
<!--<nav class="navbar shadow-sm  position-absolute">
  <h5 class="ml-3 mt-3 text-muted">Online Class</h5>
</nav>-->
<mat-tab-group>
  <mat-tab label="WhiteBoard">
    <nav class="navbar mt-1 navbar-dark bg-dark position-relative navbar-expand-lg navbar-expand-mg navbar-expand-xs navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link mt-0 ml-4 mr-4">
              <i class="fa fa-mouse-pointer"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-0 ml-4 mr-4">
              <i class="fa fa-edit"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-0 ml-4 mr-4">
              <i class="fa fa-circle"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--<button type="button" class="btn bg-transparent rounded-0 text-white">
        <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn bg-transparent rounded-0 text-white">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn bg-transparent rounded-0 text-white">
        <i class="fa fa-circle" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn bg-transparent rounded-0 text-white">
        <i class="fa fa-square" aria-hidden="true"></i>
      </button>-->
    </nav>
  </mat-tab>
  <mat-tab label="Document"> Content 2 </mat-tab>
  <mat-tab label="Screen Sharing"> Content 3 </mat-tab>
</mat-tab-group>
