<section class="content">
  <div class="container-fluid" id="joinOnlineClassContainer">
    <ng-container *ngIf="!selectedClass">
      <h6 class="text-muted">Start Online Class</h6>
      <ul
        class="list-group mt-3"
        *ngIf="filteredClasses | async as filteredClasses"
      >
        <li *ngFor="let onlineClass of filteredClasses" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ onlineClass.classTitle }}</h5>
            <button
              class="btn-sm btn btn-primary"
              (click)="updateSelectedOnlineClass(onlineClass)"
            >
              Start Class
            </button>
          </div>
          <p class="mb-1">
            Date : <code>{{ onlineClass.classDate }}</code
            >, Time : <code>{{ onlineClass.classTime | date: "HH:mm" }}</code>
          </p>
          <small
            >Teacher : <code>{{ onlineClass.teacher }}</code></small
          >
        </li>
      </ul>
    </ng-container>
  </div>
</section>
