@import "~ngx-toastr/toastr.css";

.mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0) !important;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.cdk-overlay-container {
  z-index: 1000 !important;
}

 .cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  z-index: 1051;
}

.select-all-option mat-pseudo-checkbox.mat-pseudo-checkbox {
  display: none;
}

.top-right {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
}

.top-left {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
}

.bottom-right {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.bottom-left {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.global-add-button {
  position: fixed !important;
  right: 30px;
  top: 80vh;
}
