<mat-card>
  <mat-card-header>
    <!--<mat-card-title>Images ( <code>{{onlineClassMediaDetailsList.length}}</code> )</mat-card-title>-->
    <mat-card-subtitle *ngIf="onlineClassMediaDetailsList.length!=0">
      Images to show while Online Class ( <code>{{onlineClassMediaDetailsList.length}}</code> )
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="onlineClassMediaDetailsList.length===0">
      No Images or added, add Images by clicking on <code>Add Image</code> button
    </mat-card-subtitle>
    <button mat-button type="button" style="margin-top: -15px;" (click)="openDialog(OnlineClassAction.ADD_IMAGE)">Add Image</button>
  </mat-card-header>

  <mat-card-content *ngIf="onlineClassMediaDetailsList.length>0">

    <div class="example-container" cdkDropListGroup>
      <div cdkDropList class="p-0" [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" #placeholder></div>
      <div cdkDropList *ngFor="let mediaDetails of onlineClassMediaDetailsList; let ind = index;"
           [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()">
        <div cdkDrag class="example-box">
          <mat-card class="example-card d-inline-block position-relative">
            <h1 class="p-0 m-0 image-index">{{ind+1}}</h1>
            <mat-card-header>
              <mat-card-subtitle>{{mediaDetails.mediaTitle}}</mat-card-subtitle>
            </mat-card-header>
            <img class="border" matTooltip="Info about the action" [src]="mediaDetails.mediaUrl" cdkDragHandle>
            <mat-card-actions>
              <button mat-button><mat-icon (click)="editMediaDetails(mediaDetails, OnlineClassAction.UPDATE_IMAGE)">edit</mat-icon></button>
              <button mat-button><mat-icon (click)="deleteMediaDetails(mediaDetails)">delete</mat-icon></button>
            </mat-card-actions>
          </mat-card>
          <!--<h1 class="p-0 m-0 image-index">{{ind+1}}</h1>
          <img class="border w-100" [src]="mediaDetails.mediaUrl">-->
        </div>
      </div>
    </div>


    <!--<div cdkDropList
         cdkDropListOrientation="horizontal"
         class=" images-videos-gallery "
         (cdkDropListDropped)="drop($event)">
      <div class="images-videos-gallery-item shadow-sm border"
           *ngFor="let mediaDetails of onlineClassMediaDetailsList"
           cdkDrag>
        <div class="mat-card-header">{{mediaDetails.mediaTitle}}</div>
        <img class="border" [src]="mediaDetails.mediaUrl">
        <div class="actions">
          <button mat-icon-button color="warn" class="m-1" (click)="deleteMediaDetails(mediaDetails)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="red" class="m-1" (click)="editMediaDetails(mediaDetails, OnlineClassAction.UPDATE_IMAGE)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>


        <div class="images-videos-gallery-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>

      </div>
    </div>-->

  </mat-card-content>
  <!--<mat-card-actions>
    <button mat-button type="button" (click)="openDialog(OnlineClassAction.ADD_IMAGE)">Add Image</button>
  </mat-card-actions>-->
</mat-card>
